.footer {
  height: 150px;
  background-color: #E9DED4;
  padding-top: 14px;
  p {
    @include golosFont (16px, 300, 120%);
    opacity: 60%;
    @include respond-to(mobile) {
      @include golosFont (12px, 300, 120%);
    }
  }

}